<h1>PiggyBank</h1>

<p>Hi <%= @user.username %>,</p>

<p>
  Welcome to PiggyBank! Click on the link below to activate your account:
</p>

<!-- TODO: form url from env variable -->
<%= link_to 'Activate', edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
