<h1>PiggyBank</h1>

<p>Hi <%= @user.username %>,</p>

<p>
  Welcome to PiggyBank! Click on the link below to activate your account:
</p>

<!-- TODO: form url from env variable -->
<ul>
  <li>Activation token: <%= @user.activation_token %></li>
  <li>Email: <%= @user.email %></li>
</ul>
